# backend/requirements.txt
flask==3.0.3
flask-cors==4.0.1
python-dotenv==1.0.1
requests==2.32.3
networkx==3.3
pywebpush==2.0.1
gunicorn==23.0.0
google-auth==2.34.0
google-auth-oauthlib==1.2.1
google-api-python-client==2.147.0
notion-client==2.2.1
pyttsx3==2.90
SpeechRecognition==3.10.1
pydub==0.25.1
psutil>=5.9.0